@page "/stationsDetails/{ID:int}"
@using HelsinkiCityBikeApp.Shared;
@using System.Net.Http;
@using Blazorise;
@using LeafletForBlazor;

@inject HttpClient Http;
@inject NavigationManager NavigationManager

<PageTitle>Station Details</PageTitle>

<div class="mainDiv">
    @if (station != null)
    {
        <div class="childDiv">
            <table>
                <thead>
                    <tr>
                        <th>Station FID</th>
                        <th>Station ID</th>
                        <th>Station Name</th>
                        <th>Station Address</th>
                        <th>Station Capacity</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@station.FID</td>
                        <td>@station.ID</td>
                        <td>@station.Nimi</td>
                        <td>@station.Osoite</td>
                        <td>@station.Kapasiteet</td>
                        <td>@station.X</td>
                        <td>@station.Y</td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <Map width="600px" height="600px" Parameters="@parameters" ></Map>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No station found with ID @ID</p>
    }
</div>

@code {
    [Parameter]
    public int ID { get; set; }

    private Station station;
    private Map.LoadParameters parameters;

    protected override async Task OnInitializedAsync()
    {
        station = await Http.GetFromJsonAsync<Station>($"api/stations/{ID}");
        parameters = new Map.LoadParameters
            {

                location = new Map.Location
                {
                    latitude = station.Y,
                    longitude = station.X
                },
                zoom_level = 20

            };
    }
    /*https://github.com/ichim/LeafletForBlazor-NuGet*/
}
