@page "/trips"


@using System.Net.Http;
@inject HttpClient Http;
@using HelsinkiCityBikeApp.Shared;

<PageTitle>Trips</PageTitle>


<div class="mainDiv">

    @if(list != null)
    {
        <div class="childDiv">Lorem ipsum</div>

        @foreach (var trip in list)
        {
            <div class="childDiv">
                    <p >@trip.Departure</p>
                    <p>@trip.DepartureStationName</p>
                    <p>@trip.Duration</p>
                    <p>@trip.CoveredDistance</p>
                    <p>@trip.Return</p>
                    <p>@trip.DepartureStationName</p>
            </div>
        }
    }
    else
    {
        <div class="childDiv"><h1>No data...</h1></div>
    }
    

    </div>





@code {
    private bool isRequestSuccessful = false;
    private List<Trip> list = new List<Trip>();

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("api/trips");
        isRequestSuccessful = response.IsSuccessStatusCode;
        Console.WriteLine(isRequestSuccessful);
        if (isRequestSuccessful)
        {
            list = await Http.GetFromJsonAsync<List<Trip>>("api/trips");

        }
        else
        {
            Console.WriteLine("Error");
        }



    }
}