@page "/tripdetails/{ID}"
@using HelsinkiCityBikeApp.Shared;
@using System.Net.Http;
@using LeafletForBlazor;

@inject HttpClient Http;
@inject NavigationManager NavigationManager

<PageTitle>Trip Details</PageTitle>


<div class="mainDiv">

    @if (trip != null)
    {

        <div class="childDiv" >
            <table width="600px">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Departure</th>
                            <th>Departure Station Name</th>


                            <th>Return</th>
                            <th>Return Station Name</th>

                        <th>Covered Distance (Km)</th>
                        <th>Duration (Min)</th>
                            
                        </tr>
                    </thead>
                    <tbody>


                        <tr>
                            <td>@trip.ID</td>
                            <td>@trip.Departure</td>
                            <td>@trip.DepartureStationName</td>

                            <td>@trip.Return</td>
                            <td>@trip.ReturnStationName</td>
                            <td> @string.Format("{0:0.##}",trip.CoveredDistance / 1000)</td>
                            <td> @string.Format("{0:0.##}",trip.Duration / 60)</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        <div class="childDiv" >

            <button class="btn btn-primary" @onclick="@(() => NavigationManager.NavigateTo($"/stationsDetails/{departureStation.ID}"))">@departureStation.Nimi</button>
<button class="btn btn-primary" @onclick="@(() => NavigationManager.NavigateTo($"/stationsDetails/{returnStation.ID}"))">@returnStation.Nimi</button>

            <p>Number of trips started here: </p>
            <p>Number of trips ended here: </p>
        </div>

        <div class="childDiv">   <h2>Departure Station Location</h2>  <Map width="600px" height="600px" Parameters="@departure"></Map></div>
        <div class="childDiv">   <h2>Return Station Location</h2>  <Map width="600px" height="600px" Parameters="@returned"></Map></div>
        }       
    else
    {
        <div class="childDiv">  <h2><img src="/img/loading.gif" width="150" /></h2></div>
    }

</div>
@code {
    [Parameter]
    public string ID { get; set; }
    private Trip trip;
    private Station departureStation;
    private Station returnStation;
    private Map.LoadParameters departure;
    private Map.LoadParameters returned;
protected override async Task OnInitializedAsync()
    {
        //Lets get the trip details with id
        trip = await Http.GetFromJsonAsync<Trip>($"api/Trips/{ID}");


        //here we insert cordinates from object to maps.
        departureStation = await Http.GetFromJsonAsync<Station>($"api/stations/{trip.DepartureStationId}");
        departure = new Map.LoadParameters()
        {
                location = new Map.Location
                {
                    latitude = departureStation.Y,
                    longitude = departureStation.X
                },
                zoom_level = 20,
        };
        //it seems like, this nugget dosent wantto load two maps to same page :(
        returnStation = await Http.GetFromJsonAsync<Station>($"api/stations/{trip.ReturnStationId}");
        returned = new Map.LoadParameters()
        {
                location = new Map.Location
                {
                    latitude = returnStation.Y,
                    longitude = returnStation.X
                },
                zoom_level = 20,
        };
        
    }
}